
<div class="card">
    <div class="card-image">
        <figure class="image">
            <img src="https://bulma.io/assets/images/placeholders/1280x960.png"
                 alt="Placeholder image" />
        </figure>
    </div>
    <div class="card-content">

        <div class="media">

            <div class="media-content">
                <p class="subtitle is-5">@album.Name</p>
                <p class="subtitle is-6">@album.Artists[0]</p>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public AlbumDTO album { get; set; }
}
