.scrollList::-webkit-scrollbar {
        height: 8px;
      }
      
.scrollList::-webkit-scrollbar-track {
background: transparent;
}

.scrollList::-webkit-scrollbar-thumb {
background: white;
border-radius: 8px;
}

.scrollList:hover::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 8px;
        }

.btn{
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  background-color: rgb(117, 117, 117);
  color: white;
}

.error{
  color: red;
}
