<div class="container grid is-col-min-10 is-gap-3">
    @foreach (var album in albumData)
    {
        <div class="cell"><RecordSummary album="album"></RecordSummary></div>
    }
</div>

@code {

    [Parameter]
    public List<AlbumDTO> albumData { get; set; }
}
